# The following environment variables are used by the application
# and must exist in a .env file at the root of the 'server'
# directory. The values used here shold not be used in production.

# Where the server is listening
HOST=localhost
PORT=3001

# Needed for connecting to the database
DB_NAME=recruiter
DB_USER=admin
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT="postgres"
NODE_ENV="development"
