
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.registration-container {
  background-color: #1a1a1a;
  color: #ecf0f1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration-container h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.reg-inputs {
  width: 100%;
  max-width: 320px;
}

.form-input input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #34495e;
  border-radius: 4px;
  background-color: #282c34;
  color: #ecf0f1;
}

.form-buttons {
  width: 100%;
  max-width: 320px;
}

.action-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #27ae60;
  font-size: 1em;
  color: #ecf0f1;
  margin-top: 10px;
  cursor: pointer;
}

.result-message {
  color: #16a085;
  margin-top: 10px;
}

.registered-user-link {
  margin-top: 15px;
  color: #bdc3c7;
}

.registered-user-link a {
  color: #ecf0f1;
  text-decoration: none;
}

strong {
  color: #e74c3c;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 15px;
}
